/*------------- GLOBAL ---------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	color: #212121;
	font-size: 1em;
	line-height: 1.4;
}

body {
	background: #FFF;
	/*font-family: 'PT Serif', serif;*/
	font-family: 'Nunito Sans'!important;
}

.navbar-topo {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
	height: 75px;
}

img.icon-libras{
	width: 20px;
}

.border-section {
	border-bottom: 1px solid #E7E7E7;
}

a {
	color:#6A6969;
}


/*----------------- ESTILO LINK ----------------*/



/*------------------ FONTS --------------------*/

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLight.ttf");
	font-weight: 200;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 700;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 800;
}

@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-ExtraLightItalic.ttf");
	font-weight: 900;
}


/*------------------ COLORS -------------------*/

.color-baby-blue {
	color:#81AEE1 !important;
}

.color-red {
	color:#DD4C43 !important;
}

.color-blue {
	color:#3F628D !important;
}

.color-yellow {
	color:#FFCF6F !important;
}

/*------------------ BACKGROUND COLORS -------------------*/

.background-color-baby-blue {
	background-color:#81AEE1 !important;
}

.background-color-red {
	background-color:#DD4C43 !important;
}

.background-color-blue {
	background-color:#3F628D !important;
}

.background-color-yellow {
	background-color:#FFCF6F !important;
}


/*------------- BOOTSTRAP  CLASS ----------------*/

.badge-pill {
	padding: .4rem .6rem;
	border-radius: 10rem;
}

.btn-lg,
.btn-group-lg>.btn {
	font-size: .9rem !important;
}

.form-control {
	font-size: .8rem;
}

.dropdown-toggle::after {
	display: none;
}

.btn-secondary {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
	color: #444343;
	font-size: 14px;
	font-weight:700;
}

button.btn.btn-danger {
	border-radius: 0;
}

input.form-control {
	height: 38px;
	border-radius: 0;
}

li.list-group-item {
    background: #F4F4F4;
	margin-bottom: 2px;
	border:none;
	font-size: 14px;
    font-weight: normal;
}

.page-link {
	color: #000;
	font-size: 13px;
}

.badge-pill {
	background-color:#C4C4C4;
}

/*------------- MENU ACESSO --------------*/

.menu-acesso {
	background-color: #004777;
	height: 34px;
	display: flex;
	align-items: center;
}

.menu-acesso ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.menu-acesso ul li {
	display: inline;
	margin: 0 15px 0 0;
	border-right: 1px solid #FFF;
	padding-right: 15px;
	font-size: .8rem;
	color: #FFF;
	font-weight: 480;
}

.menu-acesso ul li:last-child {
	border:none;
}

.menu-acesso__informacoes {
	display: flex;
	justify-content: start;
}

.menu-acesso__acessibilidade {
	display: flex;
	justify-content: end;
}


/*------------- NAV MENU ------------------*/

.nav-menu {
	height: 70px;
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.nav-menu__item {
	display: flex;
}

.nav-menu__assinatura-principal {
	justify-content: flex-start;
	font-weight: bold;
	font-size: 24px;
}

.nav-menu__dropdown {
	display: flex;
	justify-content: center;
}


/*------------- PESQUISA ------------------*/

.nav-menu__search-input {
	margin: 0;
	padding: 0;
}

.nav-menu__search-input .nav-menu__search-query {
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.nav-menu__search-input button {
	border: 0;
	background: none;
	padding: 5px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #C4C4C4;
}

.nav-menu__search-input button.btn {
    display: block;
    z-index: 9999;
}

/*
.search-query:focus+button {
	z-index: 3;
}
*/


/*---------------- BOX SUBTITULO ---------------*/

.subtitulo-box {
	background-color: #FFCF6F;
	height: 110px;
	display: flex;
	align-items: center;
}

.subtitulo-box__normal {
	background-color: #6A6969;
	height: 90px;
	display: flex;
	align-items: center;
	margin-bottom: 44px;
}

.subtitulo-box__texto {
	font-weight: 100;
	color: #696969;
}

.subtitulo-box__image {
	margin: 0 20px 0 0;
}

.subtitulo-box__titulo {
	font-weight: 600;
}

.subtitulo-normal__logo img {
	color: #FFF;
	width: 50px;
	margin-right: 10px;
}

.subtitulo-normal__titulo-box {
	color: #FFF;
	font-weight: bold;
	font-size: 30px;
	display: flex;
    align-items: center;
}

/*------------------ BOX CATEGORIA -------------*/

.categoria {
	height: auto;
	display: flex;
	align-items: center;
	padding-bottom: 30px;
	margin-top: 40px;
}

.categoria__box {
	padding: 0;
}

.categoria__titulo span {
	background-color: #6A6969;
	padding: 4px;
	color: #FFF;
	font-size: .9rem;
}

.categoria__texto h3 {
	font-weight: 500;
	font-size: 1.6rem;
	color:#FFF;
	text-shadow: 0px 2px 2px #515151;
}

.categoria__image {
	position: relative;
}

.categoria__image img {
	width: 100%;
}

.categoria__categoria {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 15px 30px;
}

.categoria__categoria span {
	display: inline-block;
	background-color: #696969;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 8px;
	border-radius: 3px;
}

.categoria__item {
	border: 1px solid #eee;
}

.subtitulo-box__logo{
    display: flex;
    justify-content: start;
    align-items: center;
}


/*---------------------- PRINCIPAL -------------------*/

.subtitulo-box__logo img {
	color: #FFF;
	width: 60px;
	margin-right: 10px;
	position: relative;
	bottom: 15px;
	object-fit: scale-down;
}

.subtitulo-box__titulo-box {
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	position: relative;
    left: 0;
    top: -8px;
}

p.subtitulo-box__texto-box {
    position: relative;
    top: -7px;
}

/*----------------- ULTIMAS NOTICIAS ------------------*/

.ultimas-noticias .details p {
	font-size: 15px;
	font-weight: bold;
}

.ultimas-noticias__image {}

.ultimas-noticias__image img {
	height: 167px;
	max-width: 255px;
    object-fit: cover;
}

.ultimas-noticias__item {
	border-bottom: solid 1px #eee;
	margin-bottom: 10px;
	min-height: 168px;
	padding: 20px 0;
}

.ultimas-noticias__categoria {
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
	font-size: 12px;
	padding: 2px 8px;
	border-radius: 3px;
	font-weight: bold;
	text-transform: uppercase;
}

.ultimas-noticias__titulo {
	font-size: 18px;
	font-weight: bold;
}

.ultimas-noticias__data {
	color: #6A6969;
	font-size: 12px;
}

.ultimas-noticias__texto {
	font-size: 14px;
	font-weight: normal;
}

.ultimas-noticias__titulo-box {
	margin: 30px 0 0 -15px;
    color: #515151;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #D1D1D1;
}

/*----------------- MAIS ACESSADOS ------------------*/

.mais-acessados__categoria {
	font-size: 12px;
	color: #6A6969;
	font-weight: bold;
	text-transform: uppercase;
}

.mais-acessados__texto {
	font-size: 1rem;
	font-weight: bold;
}

.mais-acessados__data {
	font-size: .8rem;
	font-size: 100;
	color: #828282;
}

.mais-acessados__image img {
	max-width: 95px;
	height: 95px;
	border-radius: 10px;
}

.ultimas-noticias__titulo-box-mais-acessados {
	margin: 30px 0 0 -15px;
    color: #6A6969;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #D1D1D1;
}

/*------------- NEWS LETTER -----------------*/

.login-form {
	border: 1px solid #DDD;
	background-color: #E1E1E1;
}

.login-form-box {
	padding: 20px;	
}

.news-letter__titulo-box-newsletter {
	margin: 30px 0 10px -15px;
	color: #515151;
    font-weight: bold;
    font-size: 18px;
	border-bottom: 1px solid #D1D1D1;
}

.news-letter__titulo {
	font-size: 1.125;
	background-color: #004777;
	color: #FFF;
	height: 68px;
	display:flex;
	align-items: center;
	justify-content: center;

}

.news-letter__subtitulo {
	font-size: .8rem;
	color: #767676;
}

.news-letter__img img {
	width: 30px;
	margin-right: 13px;
}


/*---------- ULTIMOS ARTIGOS --------------*/

.ultimos-artigos:last-child {
	border-bottom: 1px solid #DDD;
	padding: 30px 0;
}

.ultimos-artigos__titulo-box {
	margin: 10px 0 10px -15px;
	color: #515151;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #D1D1D1;
}

.ultimos-artigos__texto {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding: 0 10px 0 10px;
	margin: 10px 17px 0 0;
}


.ultimos-artigos__bloco-rodape {
	display: flex;
	margin-right: 8px;
	padding: 11px 8px 30px 8px;
}

.ultimos-artigos__categoria {
	display: inline-block;
    background-color: #6A6969;
    color: #fff;
    font-size:12px;
    font-weight: bold;
    padding: 2px 5px;
    position: absolute;
    transform: translate(-50%, -80%);
    border-radius: 3px;
    text-transform: uppercase;
}

.ultimos-artigos__nome {
	font-size: 12px;
	color: #8E8C8C;
	margin-right: 20px;
}

.ultimos-artigos__data {
	font-size: 12px;
	color: #8E8C8C;
}

.ultimos-artigos__box {
	padding: 0 20px 0 0;
	text-align: center;
}

.ultimas-noticias__titulo-box-newsletter {
	margin: 30px 0 10px -15px;
    color: #6A6969;
    font-weight: 900;
    font-size: 18px;
    border-bottom: 1px solid #D1D1D1;
}


/*--------- PUBLICIDADE BLOCO ---------------*/

.publicidade-bloco__img {
	background-position: center;
	background-size: cover;
}

.publicidade-bloco {
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.publicidade-01 img {
	width: 100%;
}


/*-----PAGINACAO-----*/

.pagination {
	justify-content: center!important;
	padding-top: 30px;
}


/*------------------------------------------PAGE PRINCIPAL EDITOR ---------------------------------------*/


/*---------CATEGORIA EDITOR -------------*/

.categoria-editor__image img {
	display: block;
	width: 100%;
	height: 300px;
}

.categoria-editor__image cover {
	object-fit: cover;
}

.categoria-editor__categoria {
	position: absolute;
	left: 0;
	top: 0;
	padding: 60px;
	max-width: 825px;
}

.categoria-editor__categoria span {
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
	font-size: .7rem;
	text-transform: uppercase;
	padding: 3px;
	margin-bottom: 20px;
}

.categoria-editor__titulo span {
	background-color: #6A6969;
	padding: 4px;
	color: #FFF;
	font-size: .9rem;
}

.categoria-editor__texto h2 {
	font-weight: 600;
	font-size: 2.25rem;
}

/*----- CATEGORIA IMPORTANTE -----*/

.categoria-importante__box {
	margin-top: 34px;
}

.categoria-importante__badge-pill-yellow {
	background-color: #FFCF6F;
}

/*------------------------------------------ HOME ---------------------------------------*/


/* ---- HOME CATEGORIA ------ */

.home__categoria {
	height: auto;
	background: #FFF;
	display: flex;
	align-items: center;
	padding: 40px;
}

.home__categoria__box {
	padding: 0;
}

.home__categoria__titulo span {
	background-color: #6A6969;
	padding: 4px;
	color: #FFF;
	font-size: .9rem;
}

.home__categoria__texto h3 {
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.home__categoria__texto h3, .home__categoria__texto-menor h3:hover {
	text-decoration: underline;
	color: #FFF;
	cursor: pointer;
}

.home__categoria__texto-menor h3 {
	font-weight: bold;
	font-size: 1.125rem;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.home__categoria__image {
	position: relative;
}

.home__categoria__image img {
	width: 100%;
	max-height: 180px;
	object-fit: cover;
	height: 100%;
}

.home__categoria__categoria {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 30px;
}

.home__categoria__categoria-menor {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.7rem;
    padding: 8px 20px;
}

.home__categoria__categoria-menor span {
	display: inline-block;
	background-color: #6A6969;
	border-radius: 3px;
	color: #fff;
	font-size: .7rem;
	padding: 1px 4px;
	text-transform: uppercase;
	font-weight: bold;
}


.home__categoria__categoria span {
	display: inline-block;
	background-color: #6A6969;
	border-radius: 3px;
	color: #fff;
	font-size: .75rem;
	padding: 1px 4px;
	text-transform: uppercase;
	font-weight: bold;

}

.home__categoria__item {
	border: 1px solid #eee;
}

.home__categoria__item--principal-big img {
  max-height: 380px;
  width: 100%;
}

/* --- HOME EIXOS ---- */

.home__eixos-topo {
	border-bottom: 1px solid #DDD;
}

.home__eixos-titulo {
	font-weight: bold;
	font-size: 24px;
	color: #696868;
}

.home__eixos-topo-img img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 20px;
}

.home__eixos-texto {
	font-weight: 100;
	color: #8E8C8C;
	font-size: 14px;
	margin: 0 0 0 75px;
	position: relative;
	bottom: 11px;
}

.home__eixos-noticias {
	display: flex;
	align-items: start;
}

.home__eixos-noticias-titulo {
	width: 205px;
	float: right;
	font-weight: 700;
	line-height: 1.4;
	font-size: 15px;
	color: #444343;
	margin-left: 15px;
	cursor: pointer;
	font-size: 1rem;
}

.home__eixos-noticias-titulo:hover {
	text-decoration: underline;
}

.home__eixos-noticias img {
	width: 123px;
	height: 80px;
	border-radius: 5px;
	object-fit: cover;
}

.home__eixos-noticias-link a {
	color: #444343;
	text-decoration: underline;
	font-size: 13px;
}

/* --- HOME ARTIGOS ---- */

.home-artigos__titulos {
	font-size: 32px;
	font-weight: bold;
	color: #6A6969;
}

.home-border-artigos {
	border-bottom: 1px solid #DADADA;
}

.home-artigos-item__titulo {
	font-weight: 800;
	max-width: 80%;
	width: 100%;
	height: 50px;
	line-height: 1.3;
}

.home-artigos-link {
	text-align: right;
}

.home-artigos-link a {
	color: #696868;
	font-size: 14px;
}

.home-artigos-item__titulo-box {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 4px;
	width: 175px;
}


.home-artigos-item__texto-box {
	width: 180px;
	font-weight: 800;
	line-height: 1.4;
	font-size: 14px;
	margin-bottom: 2px;
}

.home-artigos-item__texto-box-nome {
	width: 180px;
	font-weight: 600;
	line-height: 1.4;
	font-size: 13px;
	margin-bottom: 2px;
}

.home-artigos-item__img img {
	max-width: 65px;
	/*height: 123px;*/
	max-height: 79px;
	width: 100%;
	object-fit: cover;
}

.home-artigos-item-box-cinza {
	background: #F4F4F4;
	background: #F4F4F4;
	padding: 25px 50px;
	max-width: 322px;
	margin-right: 15px;
}

.home-artigos-box-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.home-artigos__bloco-informacoes {
	max-width: 100px;
}

.home-artigos-last-img {
	width: 100%;
	max-width: 255px;
	height: 135px;
	object-fit: cover;
	
}

/* --- HOME REGIONAIS ---- */

.home-regionais__titulos {
	font-size: 1.125rem;
	font-weight: bold;
	color: #6A6969;
}

.home-regionais__box-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.home-regionais-link {
	text-align: right;
}

.home-regionais-link a {
	color: #696868;
	font-size: 14px;
}

.home-regionais-box-categoria span {
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
	font-size: .75rem;
	font-weight: bold;
	padding: 2px 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
	text-transform: uppercase;
}

.home-regionais-box-texto {
	font-size: 1.125rem;
	color: #6A6969;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}

.home-regionais__editor {
	font-size: 13px;
	color: #828282;
	font-style: italic;
	font-weight: 100;
	text-align: center;
}


/* --- HOME EVENTOS ---- */

.home-eventos__titulos {
	font-size: 1.125rem;
	font-weight: bold;
	color: #6A6969;
}

.home-eventos__box-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.home-eventos-link a {
	color: #696868;
	font-size: 14px;
}

.home-eventos-link {
	text-align: right;
}

.home-eventos-box-titulo {
	font-size: 1.125rem;
	font-weight: bold;
	margin: 4px;
	margin-right: 0;
	margin-left: 0;
}

.home-eventos-box-texto {
	font-family: 'PT Sans';
	color: #8C8C8C;
  font-size: 0.875rem;
  line-height: 19px;
}

.home-eventos__box-imagem {
  max-height: 260px;
  object-fit: cover;
  width: 100%;
}

/* ---- HOME VIDEOS --- */

.home-videos-box-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.home-videos__titulos {
	font-size: 1.125rem;
	font-weight: bold;
	color: #6A6969;
}

.home-videos__box-item-link {
	text-align: right;
}

.home-videos__box-item-link a {
	color: #696868;
    font-size: 14px;
}

.home-videos-box-categoria {
	font-weight: bold;
    background-color: #6A6969;
    color: #fff;
    font-size: .75rem;
    padding: 2px 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

.home-videos-box-texto {
	font-size: 17px;
	margin-top: 20px;
	color:#000;
}

/* ----HOME PODCAST----- */

.home-podcast__titulos {
	font-size: 1.125rem;
	font-weight: bold;
	color: #6A6969;
}

.home-podcast-box-categoria {
		font-weight: 600;
		background-color: #6A6969;
		color: #fff;
		font-size: 0.75rem;
		font-weight: bold;
		padding: 2px 5px;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
}

.home-podcast-box-texto {
	font-size: 17px;
	margin-top: 20px;
	color: #000;
}

.home-podcast__box-item {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.home-podcast__link {
	width: 23%;
	box-sizing: content-box;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
}

.home-podcast__link a {
	color: #696868;
	font-size: 14px;
}


/* ----PERGUNTAS FREQUENTES ---- */

.home-perguntas-frequentes__titulos {
	font-size: 1.125rem;
	color: #6A6969;
	font-weight: bold;
}

.home-perguntas-frequentes__box-item-link {
    text-align: right;
}

.home-perguntas-frequentes__box-item-link a {
	font-size: 14px;
	color: #6A6969;
}

.home-perguntas-frequentes-itens-topo {
	margin-bottom: 47px;
}

.home-perguntas-frequentes__titulo {
	font-size: 18px;
	color: #6A6969;
	font-weight: bold;
}

.home-perguntas-frequentes__texto {
	font-size: 14px;
	color: #6A6969;
	margin-top: 1.125rem;
	font-weight: normal;
}

.home-perguntas-frequentes__link a {
	font-size: 14px;
	color: #6A6969;
	display: flex;
	justify-content: flex-start;
}


/* HOME NEWSLETTER */

.home-newsletter-box {
	background-color: #004777;
	height: 238px;
	width: 100%;
	display: flex;
}

.home-newsletter-box-titulo {
	font-size: 23px;
	color: #FFF;
	padding: 0;
}

.home-newsletter__item {
	justify-content: center;
	align-items: center;
}


/*--- HOME GUIA IMPLANTACAO -----*/

.home__guia-implatacao-texto {
	font-size: 14px;
	color: #444343;
	font-weight: bold;
  margin-bottom: 3px;
  line-height: 16px;
}

.home__guia-implatacao-link {
	font-size: 13px;
	color: #444343;
	font-weight: 100;
	cursor: pointer;
}

/*--- HOME CATEGORIA FOOTER ----*/

.home-categoria__footer {
	background: #F4F4F4;
}

.home-categoria__footer-box {
	background-color: #F4F4F4;
    padding: 30px 20px;
    width: 1200px;
    margin: 0 auto;
}

.home-categoria__footer-titulo {
	font-size: 18px;

}

/*
.home-categoria__border {
	border-right: 1px solid #DDD;
}

.home-categoria__border:last-child {
	border-right: none;
	padding-left: 10px;
}
*/

ul.home-categoria__footer-lista {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

li.home-categoria__footer-item {
	font-size: 13px;
	line-height: 1.8;
	color: #444343;
}

.home-categoria__footer-titulo-link {
	cursor: pointer;
}

.home-categoria__footer-titulo h2 a{
	font-size: 18px;
	color: #000 !important;
}

/*HOME FOOTER */


.home__footer-box {
	background-color: #004777;
	height: 122px;
	display: flex;
	align-items: center;
}

ul.home__footer-informacoes-lista {
	list-style-type: none;
	padding: 0;
}

.home__footer-informacoes-lista {
	display: flex;
}

.home__footer-informacoes-direitos {
	color: #FFF;
	font-size: 13px;
	font-weight: 100;
	color: #FFF;
	font-size: 13px;
	font-weight: 100;
	margin-bottom: 5px;
}

.home__footer-informacoes-item {
	color: #FFF;
	font-size: 13px;
	font-weight: 100;
	margin-right: 10px;
}


/*------------------------------------------ PAGE MULTIMÍDIA ---------------------------------------*/


/*--------- CATEGORIA MULTIMIDIA TOPO -------------*/

.categoria-multimidia__image img {
	display: block;
	width: 100%;
	height: 416px;
}

.categoria-multimidia__image cover {
	object-fit: cover;
}

.categoria-multimidia__categoria {
	position: absolute;
	left: 148px;
	bottom: 10px;
	padding: 50px 0 44px 0;
	max-width: 850px;
}

.categoria-multimidia__categoria span {
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 2px 5px;
	margin-bottom: 3px;
	font-weight: bold;
}

.categoria-multimidia__titulo span {
	background-color: #6A6969;
	padding: 4px;
	color: #FFF;
	font-size: .9rem;
}

.categoria-multimidia__texto h2 {
	font-weight: bold;
	font-size: 36px;
	color: #FFF;
}

.categoria-multimidia__texto > p {
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
}


/*--------- MULTIMIDIA RECOMENDAMOS  -------------*/

.multimidia-recomendamos {
	background: #F2F2F2;
	height: auto;
}


/*--------- MULTIMIDIA RECOMENDAMOS BOX  -------------*/

.multimidia-recomendamos--box:last-child {
	padding: 20px 0 16px 0;
}

.multimidia-recomendamos--box__titulo-box {
	margin: 10px 0 15px -15px;
	font-weight: bold;
	font-size: 18px;
}

.multimidia-recomendamos--box__texto {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
}

.multimidia-recomendamos--box__bloco-rodape {
	display: flex;
	margin-right: 8px;
	padding: 8px;
}

.multimidia-recomendamos--box__categoria {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	padding: 2px 5px;
	margin: 17px 13px;
	font-weight: bold;
}

.multimidia-recomendamos--box__nome {
	font-size: .7rem;
	color: #8E8C8C;
	margin-right: 20px;
}

.multimidia-recomendamos--box__data {
	font-size: .7rem;
	color: #8E8C8C;
}

.multimidia-recomendamos--box__box {
	padding: 0 20px 0 0;
	text-align: center;
}

.multimidia-ultimos-videos--box__image img, 
.multimidia-recomendamos--box__image img {
	max-height: 140px;
    width: 100%;
    object-fit: cover;
}




/*--------- MULTIMIDIA  VÍDEOS  -------------*/

.multimidia-ultimos-videos--box {
	padding: 30px 0;
}

.multimidia-ultimos-podcast--box {
	padding: 30px 0 56px 0;
}

.multimidia-ultimos-videos--box-border:last-child {
	border-bottom: 1px solid #DDD;
	padding: 15px 0 39px 0;
}

.multimidia-ultimos-videos--box__titulo-box {
	margin: 0 0 0 -15px;
	font-weight: bold;
	font-size: 18px;
}


.multimidia-ultimos-podcast--box__titulo-box {
	margin: 0 0 20px -15px;
	font-weight: bold;
	font-size: 18px;
}

.multimidia-ultimos-videos--box__texto {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
}

.multimidia-ultimos-videos--box__bloco-rodape {
	display: flex;
	margin-right: 8px;
	padding: 8px;
}

.multimidia-ultimos-videos--box__categoria {
	position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    background-color: rgb(106, 105, 105);
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 5px;
    margin: 17px 13px;
}

.multimidia-ultimos-videos--box__nome {
	font-size: .7rem;
	color: #8E8C8C;
	margin-right: 20px;
}

.multimidia-ultimos-videos--box__data {
	font-size: .7rem;
	color: #8E8C8C;
}

.multimidia-ultimos-videos--box__box {
	padding: 0 20px 0 0;
	text-align: center;
}

.multimidia__ver-tudo {
	display: flex;
	justify-content: end;
}


/*------------MULTIMIDIA BLOCO COMPLETO--------------------*/

.multimidia-bloco-completo {
	background-color: #F7F7F7;
	display: flex;
}

.multimidia-bloco-completo__img {
	object-fit: cover;
	background-position: center;
	background-size: cover;
}

.multimidia-bloco-completo img {
	align-items: center;
	width: 100%;
}


/*--------------MULTIMIDIA NOME CATEGORIA --------------------*/

.multimidia-nome-categoria--box {
	padding: 17px 0;
}

.multimidia-nome-categoria--box__titulo-box {
	margin: 10px 0 10px -15px;
	font-weight: bold;
	font-size:18px;
}

.multimidia-nome-categoria--box__texto {
	font-size: 18px;
    font-weight: bold;
    text-align: left;
    max-width: 260px;
    padding: 10px 19px;
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
}

.multimidia-nome-categoria--box__bloco-rodape {
	display: flex;
	margin-right: 8px;
	padding: 8px;
}

.multimidia-nome-categoria--box__nome {
	font-size: .7rem;
	color: #8E8C8C;
	margin-right: 20px;
}

.multimidia-nome-categoria--box__data {
	font-size: .7rem;
	color: #8E8C8C;
}

.multimidia-nome-categoria--box__box {
	padding: 0 20px 0 0;
	text-align: center;
}

.multimidia__ver-tudo {
	display: flex;
	justify-content: end;
}


/*-------------- POST FULL -----------------*/

.post-full {

}

.post-full__firts-letter::first-letter {
	color: #000;
	float: left;
	font-size: 64px;
	margin: 0 .2em 0 0;
	font-weight: bold;
}

.post-full__categoria {
	background-color: #212121;
	width: 70px;
	height: auto;
	color: #FFF;
	padding: 1px 10px;
	font-size: 0.9rem;
	text-align: center;
	margin: 32px 0;
}

.post-full__titulo {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 20px;
}

.post-full__texto {
	font-size: 18px;
	color: #858585;
	font-weight: 300;
}

.post-full__tittle-article {
	margin:70px 0 20px 0;
	font-weight: bold;
}

.post-full__texto p {
	line-height: 1.7;
}

.post-full__lista {
	list-style-type: none;
	padding: 0 280px;
}

.post-full__lista-border {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 25px 0;
}

.post-full__lista--item {
	font-size: 14px;
	font-weight: 100;
	margin-left: 20px;
}

ul.post-full__lista {
	margin: 0;
	padding: 0;
	margin-top: 80px;
}

li.post-full__lista--item {
	padding: 0;
	margin: 0 20px 27px 0;
}

.post-full__img-1 {
	object-fit: cover;
	background-position: center;
	background-size: cover;
}

.post-full__img-1 img {
	align-items: center;
	width: 100%;
}

.post-full__img-2 {
	object-fit: cover;
	background-position: center;
	background-size: cover;
}

.post-full__img-2 img {
	align-items: center;
	width: 100%;
}

figcaption.figure-caption.post-full-figcaption {
	text-align: center;
	margin-top: 2px;
	font-size: 13px;
	color: #000;
}

.post-full__text {
	margin-top: 40px;
	padding: 40px 280px;
}

.post-full__titulo-bloco {
	font-size: 24px;
	font-weight: 600;
	margin-top: 100px;
}

p.post-full__text-item {
	margin-top: 50px;
}


/*----------POST-FULL LIST-------------*/

ul.post-full__list-categoria {
	display: inherit;
}

li.post-full__list-item:first-child,
li.post-full__list-item:last-child {
	list-style-type: none;
}

.post-full__list-item {
	margin-right: 24px;
	font-size: .9rem;
	font-weight: 600;
	color: #444343;
}



/*----------POST-FULL PUBLICIDADE-------------*/

.post-full__publicidade {}


/*----------POST-FULL RELACIONADO-------------*/

.post-full__post-relacionado-titulo {
	margin: 30px 0 20px 0;
	font-size: 24px;
	font-weight: 600;
}

.post-full__post-relacionado-texto {
	font-size: 18px;
	font-weight: 600;
	color: #383838;
}


/*----------POST-FULL COMENTARIOS-------------*/

.post-full__comentarios {
	margin-top: 50px;
}

.post-full__comentarios-titulo {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

.post-full__comentarios-texto {
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
}

.post-full__comentarios-data {
	font-size: 12px;
	color: #94979E;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

.post-full__comentarios-bloco-topo {
	position: relative;
	margin-bottom: 75px;
	transition: .3s;
}

.post-full__comentarios-bloco-topo img {
	position: absolute;
}

.post-full__comentarios-bloco-topo-box-informacoes {
	padding-left: 30px;
	margin-left: 40px;
}

/*-------------- SIDEBAR ----------------------*/

.sidebar {
	margin-top: 90px;
}

.sidebar__titulo-topo {
	font-size: 36px;
	font-weight: 600;
}

.sidebar__texto-topo {
	font-size: 18px;
	color: #858585;
}

.sidebar__bloco-final {
	margin-top: 45px;
}

.section.categoria-importante.sidebar {
	margin-top: 130px;
}

/*------------------------------------------ RESPONSIVO ---------------------------------------*/

@media screen and (max-width: 767px)  {
	.menu-acesso {
		height: auto !important;
		padding: 20px;
	}
}

@media screen and (max-width: 500px)  {
	.principal {
		padding: 5px;
	}

	.home-regionais-img img {
		width: 100%;
		object-fit: cover;
		margin-top: 20px;
	}

	.home-regionais-box-categoria span {
		display: inline-block;
		position: absolute;
		left: 50%;
		bottom: 9%;
	}

	.home__categoria__item--principal-big {
		margin-bottom: 20px;
	}

	.home__categoria__texto h3 {
		font-size: 18px;
		text-decoration: none;
	}

	.home__categoria__texto a:hover {
		text-decoration: underline;
		color: #FFF;
	}
	
	.home-eventos-img img {
		width: 100%;
	}

	.home-videos-img img {
		width: 100%;
	}

	.home-podcast-topo__img img {
		width: 100%;
	}

	.home__footer-box {
		height: auto;
		padding: 20px;
	}

	.home__footer-img{
		text-align: center;
		margin-bottom: 20px;
	}

	.home__footer-informacoes-direitos {
		text-align: center;
		margin-bottom: 20px;
	}

	.home__footer-informacoes-lista {
		display: flex;
		text-align: center;
	}

	.home__footer-rede-sociais {
		text-align: center;
	}

	.home-podcast__link {
		width: 27%;
	}

	.home__eixos-box img {
		width: 100%;
	}

	.home-artigos-item__img img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	.home-categoria__footer-box {
		width: 100%;
	}

	.home__guia-implatacao-img img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.home__guia-implatacao-texto {
		text-align: center;
	}

	.home__guia-implatacao-link {
		text-align: center;
	}

	.home__categoria {
		padding: 15px;
	}

	.home-eventos-box-titulo {
		text-align: center;
	}

	.home-newsletter-box{
		padding: 25px 20px;
		height: 300px;
	}

	.navbar-topo {
		height: auto;
	}

	.menu-acesso__informacoes {
		display: flex;
		justify-content: space-evenly;
	}

	.menu-acesso ul li {
		display: inherit;
		margin: 0 15px 20px 0;
		border-right: 1px solid #FFF;
		padding-right: 15px;
		font-size: .8rem;
		color: #FFF;
		font-weight: 480;
	}
}