/*------------- GLOBAL ---------------------*/

html {
    color: #212121;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: #FFF;
    font-family: 'PT Serif', serif;
}

.navbar-topo {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.icone-libras img {
    width:25px;
}

.border-section {
    border-bottom: 1px solid #E7E7E7;
}

/*------------- BOOTSTRAP  CLASS ----------------*/

.badge-pill {
    padding: .4rem .6rem;
    border-radius: 10rem;
}


.btn-lg, .btn-group-lg > .btn {
    font-size: .9rem !important;
}

.form-control {
    font-size: .8rem;
}

.dropdown-toggle::after {
    display: none;
}

.btn-secondary {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/*------------- MENU ACESSO --------------*/
.menu-acesso {
    background-color :#A9A9A9;
    height: 34px;
    display: flex;
    align-items: center;
}

.menu-acesso ul {
    padding:0px;
    margin:0px;
    list-style:none; 
}

.menu-acesso ul li { 
    display: inline; 
    margin:0 15px 0 0;
    border-right: 1px solid #FFF;
    padding-right: 15px;
    font-size: .8rem;
    color: #FFF;
    font-weight: 480;
}

.menu-acesso__informacoes {
    display: flex;
    justify-content: start;
}

.menu-acesso__acessibilidade {
    display: flex;
    justify-content: end;
}

/*------------- NAV MENU ------------------*/

.nav-menu {
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.nav-menu__item {
    display: flex;
}

.nav-menu__assinatura-principal {
    justify-content: flex-start;
}

.nav-menu__dropdown {
    display: flex;
    justify-content: center;
}

/*------------- PESQUISA ------------------*/

.nav-menu__search-input {
    margin:0;
    padding: 0;
}

.nav-menu__search-input .nav-menu__search-query {
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav-menu__search-input  button {
    border: 0;
    background: none;
    padding: 5px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#C4C4C4;
}

.search-query:focus + button {
    z-index: 3;   
}

/*---------------- BOX SUBTITULO ---------------*/

.subtitulo-box {
    background-color:#E4E4E4;
    height: 110px;
    display: flex;
    align-items: center;
}

.subtitulo-box__texto {
    font-weight: 100;
    color: #696969;
}

.subtitulo-box__image {
     margin: 0 20px 0 0;
}

.subtitulo-box__titulo {
    font-weight: 600;
}

/*------------------ BOX CATEGORIA -------------*/

.categoria {
    height: auto;
    background: #F3F3F3;
    display: flex;
    align-items: center;
    padding: 40px;
}

.categoria__box {
    padding: 0;
}

.categoria__titulo span {
  background-color: #6A6969;
  padding: 4px;
  color: #FFF;
  font-size: .9rem;
}

.categoria__texto h3 {
  font-weight: 600;
  font-size: 1.6rem;
}

.categoria__image {
  position: relative;
}

.categoria__image img {
  width: 100%;
}

.categoria__categoria {
   position: absolute;
   left: 0;
   bottom: 0;
   padding: 30px;
}

.categoria__categoria span {
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 3px;
}

.categoria__item{
    border: 1px solid #eee;
}

/*----------------- ULTIMAS NOTICIAS ------------------*/

.ultimas-noticias  .details p {
    font-size:15px;
    font-weight:bold;
}

.ultimas-noticias__image{
   
}

.ultimas-noticias__image img {
    width: 100%;
    
}

.ultimas-noticias__item {
    border-bottom: solid 1px #eee;
    margin-bottom: 10px;
    min-height: 168px;
    padding: 20px 0;
}

.ultimas-noticias__categoria {
    display: inline-block;
    background-color: #6A6969;
    color: #fff;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 3px;
}

.ultimas-noticias__titulo {
    font-size: 1.3rem;
    font-weight: 600;
}

.ultimas-noticias__data {
    color: #6A6969;
    font-size:.8rem;
}

.ultimas-noticias__texto {
    font-size: .9rem;
    font-weight: 100;
}

.ultimas-noticias__titulo-box {
    margin: 30px 0 0 -15px;
}

/*----------------- MAIS ACESSADOS ------------------*/

.mais-acessados__categoria {
    font-size: .7rem;
    color: #6A6969;
}

.mais-acessados__texto {
    font-size: 1rem;
    font-weight: 600;
}

.mais-acessados__data {
    font-size: .8rem;
    font-size: 100;
    color: #828282;
}

.mais-acessados__image img {
    max-width: 95px;
    height: 95px;
    border-radius: 10px;
}

/*------------- NEWS LETTER -----------------*/

.login-form {
    border: 1px solid #DDD;
    padding: 20px;
}

.news-letter__titulo-box {
    margin: 40px 0 10px 0;
}

.news-letter__titulo {
    font-size: 1.125;
    font-weight: 600;
}

.news-letter__subtitulo {
    font-size: .8rem;
    color:  #767676;
}

/*---------- ULTIMOS ARTIGOS --------------*/

.ultimos-artigos:last-child {
    border-bottom: 1px solid #DDD;
    padding: 30px 0;
}

.ultimos-artigos__titulo-box {
    margin: 10px 0  10px -15px;
}

.ultimos-artigos__texto {
    font-size:1.2rem;
    font-weight: 600;
    text-align: left;
    padding: 10px;
} 

.ultimos-artigos__bloco-rodape {
    display: flex;
    margin-right: 8px;
    padding: 8px;  
}

.ultimos-artigos__categoria {
    position: relative;
    top: -25px;
    display: inline-block;
    background-color: #6A6969;
    color: #fff;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 3px;
}

.ultimos-artigos__nome {
    font-size: .7rem;
    color: #8E8C8C;
    margin-right: 20px;
}

.ultimos-artigos__data {
    font-size: .7rem;
    color: #8E8C8C;
}

.ultimos-artigos__box {
    padding: 0 20px 0 0;
    text-align: center;
}

/*--------- PUBLICIDADE BLOCO ---------------*/

.publicidade-bloco__img {
    background-position: center; 
    background-size: cover;
}

.publicidade-bloco {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*-----PAGINACAO-----*/

.pagination {
    justify-content: center!important;
    padding-top: 30px;
}

/*------------------------------------------PAGE PRINCIPAL EDITOR ---------------------------------------*/


/*---------CATEGORIA EDITOR -------------*/

.categoria-editor__image img {
  display: block; 
  width: 100%;
  height: 300px;
}

.categoria-editor__image cover {
    object-fit: cover;
}

.categoria-editor__categoria {
    position: absolute;
    left: 0;
    top: 0;
    padding: 60px;
    max-width: 825px;
 }

 .categoria-editor__categoria span {
	display: inline-block;
	background-color: #6A6969;
	color: #fff;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 3px;
    margin-bottom: 20px;
}

 .categoria-editor__titulo span {
    background-color: #6A6969;
    padding: 4px;
    color: #FFF;
    font-size: .9rem;
  }

  .categoria-editor__texto h2 {
    font-weight: 600;
    font-size: 2.25rem;
  }




  /*------------------------------------------PAGE MULTIMÍDIA ---------------------------------------*/


  /*--------- CATEGORIA MULTIMIDIA TOPO -------------*/

  .categoria-multimidia__image img {
    display: block; 
    width: 100%;
    height: 416px;
  }
  
  .categoria-multimidia__image cover {
      object-fit: cover;
  }
  
  .categoria-multimidia__categoria {
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 60px;
    max-width: 825px;
   }
  
   .categoria-multimidia__categoria span {
      display: inline-block;
      background-color: #6A6969;
      color: #fff;
      font-size: .7rem;
      text-transform: uppercase;
      padding: 3px;
      margin-bottom: 20px;
  }
  
   .categoria-multimidia__titulo span {
      background-color: #6A6969;
      padding: 4px;
      color: #FFF;
      font-size: .9rem;
    }
  
    .categoria-multimidia__texto h2 {
      font-weight: 600;
      font-size: 2.25rem;
      color: #FFF;
    }

    .categoria-multimidia__texto p {
        color:#FFF;
        font-size: 18px;
        font-weight: normal;
    }
  
 /*--------- MULTIMIDIA RECOMENDAMOS  -------------*/

    .multimidia-recomendamos {
        background: #F2F2F2;
        height: auto;
    }

    /*--------- MULTIMIDIA RECOMENDAMOS BOX  -------------*/


    .multimidia-recomendamos--box:last-child {
        padding: 30px 0;
    }
    
    .multimidia-recomendamos--box__titulo-box {
        margin: 10px 0  10px -15px;
        font-weight: 600;
    }
    
    .multimidia-recomendamos--box__texto {
        font-size:1.2rem;
        font-weight: 600;
        text-align: left;
        padding: 10px;
    } 
    
    .multimidia-recomendamos--box__bloco-rodape {
        display: flex;
        margin-right: 8px;
        padding: 8px;  
    }
    
    .multimidia-recomendamos--box__categoria {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        background-color: #6A6969;
        color: #fff;
        font-size: .7rem;
        text-transform: uppercase;
        padding: 3px;
        margin: 15px 10px;
    }
    
    .multimidia-recomendamos--box__nome {
        font-size: .7rem;
        color: #8E8C8C;
        margin-right: 20px;
    }
    
    .multimidia-recomendamos--box__data {
        font-size: .7rem;
        color: #8E8C8C;
    }
    
    .multimidia-recomendamos--box__box {
        padding: 0 20px 0 0;
        text-align: center;
    }



    /*--------- MULTIMIDIA  VÍDEOS  -------------*/

    .multimidia-ultimos-videos--box:last-child {
        border-bottom: 1px solid #DDD;
        padding: 30px 0;
    }
    
    .multimidia-ultimos-videos--box__titulo-box {
        margin: 10px 0  10px -15px;
        font-weight: 600;
    }
    
    .multimidia-ultimos-videos--box__texto {
        font-size:1.2rem;
        font-weight: 600;
        text-align: left;
        padding: 10px;
    } 
    
    .multimidia-ultimos-videos--box__bloco-rodape {
        display: flex;
        margin-right: 8px;
        padding: 8px;  
    }
    
    .multimidia-ultimos-videos--box__categoria {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        background-color: #6A6969;
        color: #fff;
        font-size: .7rem;
        text-transform: uppercase;
        padding: 3px;
        margin: 15px 10px;
    }
    
    .multimidia-ultimos-videos--box__nome {
        font-size: .7rem;
        color: #8E8C8C;
        margin-right: 20px;
    }
    
    .multimidia-ultimos-videos--box__data {
        font-size: .7rem;
        color: #8E8C8C;
    }
    
    .multimidia-ultimos-videos--box__box {
        padding: 0 20px 0 0;
        text-align: center;
    }

    .multimidia__ver-tudo {
        display: flex;
        justify-content: end;
    }

    /*------------MULTIMIDIA BLOCO COMPLETO--------------------*/

    .multimidia-bloco-completo {
        background-color: #F7F7F7;
        display: flex;
    }

    .multimidia-bloco-completo__img {
        object-fit: cover;
        background-position: center; 
        background-size: cover;
    }

    .multimidia-bloco-completo img {
        align-items: center;
        width: 100%;
       
    }

    /*--------------MULTIMIDIA NOME CATEGORIA --------------------*/
    
    .multimidia-nome-categoria--box:last-child {
        border-bottom: 1px solid #DDD;
        padding: 30px 0;
    }
    
    .multimidia-nome-categoria--box__titulo-box {
        margin: 10px 0  10px -15px;
        font-weight: 600;
    }
    
    .multimidia-nome-categoria--box__texto {
        font-size:1.125rem;
        font-weight: 600;
        text-align: left;
        padding: 15px;
        position:absolute;
        bottom: 0; 
        color: #FFF;
        width: 100%;
    } 
    
    .multimidia-nome-categoria--box__bloco-rodape {
        display: flex;
        margin-right: 8px;
        padding: 8px;  
    }

    
    .multimidia-nome-categoria--box__nome {
        font-size: .7rem;
        color: #8E8C8C;
        margin-right: 20px;
    }
    
    .multimidia-nome-categoria--box__data {
        font-size: .7rem;
        color: #8E8C8C;
    }
    
    .multimidia-nome-categoria--box__box {
        padding: 0 20px 0 0;
        text-align: center;
    }

    .multimidia__ver-tudo {
        display: flex;
        justify-content: end;
    }

    /*-------------- POST FULL -----------------*/

    .post-full {

    }

    .post-full__categoria {
        background-color: #212121;
        width: 70px;
        height: auto;
        color: #FFF;
        padding: 1px 10px;
        font-size: 0.9rem;
        text-align: center;
        margin: 32px 0;
    }

    .post-full__titulo {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .post-full__texto {
        font-size: 18px;
        color: #858585;
    }

    .post-full__lista {
        display: flex;
        list-style-type: none;
    }

    .post-full__lista--item {
        font-size: 14px;
        font-weight: 600;
        margin-left: 20px;
    }

    ul.post-full__lista {
        margin: 0;
        padding: 0;
        margin-top: 80px;
    }

    li.post-full__lista--item {
        padding: 0;
        margin: 0 20px 27px 0;
    }

    .post-full__img-1 {
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }

    .post-full__img-1 img {
        align-items: center;
        width: 100%;      
    }

    .post-full__img-2 {
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }

    .post-full__img-2 img {
        align-items: center;
        width: 100%;      
    }

    figcaption.figure-caption.post-full-figcaption{
        text-align: center;
        margin-top: 2px;
    }

    .post-full__text {
        margin-top: 40px;
    }

    .post-full__titulo-bloco {
        font-size: 24px;
        font-weight: 600;
        margin-top: 100px;
    }

     /*----------POST-FULL LIST-------------*/

    ul.post-full__list-categoria{
        display: inherit;
    }

    li.post-full__list-item:first-child, li.post-full__list-item:last-child  {
      list-style-type: none; 
    }

    .post-full__list-item {
        margin-right: 24px;
        font-size: .9rem;
        font-weight: 600;
        color:#444343;
    }

    /*----------POST-FULL PUBLICIDADE-------------*/

    .post-full__publicidade {

    }

     /*----------POST-FULL RELACIONADO-------------*/

     .post-full__post-relacionado-titulo {
         margin: 30px 0 20px 0; 
         font-size: 24px;
         font-weight: 600;
     }

     .post-full__post-relacionado-texto {
         font-size: 18px;
         font-weight: 600;
         color: #383838;
     }


    /*----------POST-FULL COMENTARIOS-------------*/

    .post-full__comentarios {
        margin-top: 50px;
    }
    
    .post-full__comentarios-titulo {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }

    .post-full__comentarios-texto{
        font-size: 1rem; 
        font-family: 'Roboto', sans-serif;
        margin-top :30px;
    }

    .post-full__comentarios-data {
        font-size: 12px;
        color :#94979E;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }
    
    .post-full__comentarios-bloco-topo{
        position: relative;
        margin-bottom: 75px;
        transition: .3s;
    }
 
    .post-full__comentarios-bloco-topo img {
        position: absolute;
    }

    .post-full__comentarios-bloco-topo-box-informacoes {
        padding-left: 30px;
        margin-left: 40px;
    }

    /*-------------- SIDEBAR ----------------------*/

    .sidebar {
        margin-top: 90px;
    }
    
    .sidebar__titulo-topo {
        font-size:36px;
        font-weight: 600;
    }

    .sidebar__texto-topo {
        font-size: 18px;
    color: #858585;
    }

    .sidebar__bloco-final {
        margin-top:45px;
    }

    .section.categoria-importante.sidebar {
        margin-top: 130px;
    }

 
 
  
   